<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="HP_Test">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
<!--    <test name="SignIn_Test">-->
<!--        <classes>-->
<!--            <class name="tests.SignInTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>